<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/static/images/uoda.ico " />
  <!-- aos -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- aos -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <!-- styles -->
  <link rel="stylesheet" href="{{ url_for('static',filename='CSS/styles.css') }}" />
  <title>UODA - About</title>
</head>
<body>
  <ul class="nav justify-content-center fixed-top" style="background: transparent; z-index: 10">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/about">About</a>
    </li>
    {% if session['logged_in'] %}
    <li class="nav-item nav-sign-out">
      <p class="nav-link nav-username">{{ session['admin_name'] }}</p>
      <a class="nav-link" href="/sign_out"><i class="fa fa-power-off"></i>Sign-out</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/sign_in">Sign-in</a>
    </li>
    {% endif %}
  </ul>
  <div class="home">
    <!-- <h1>UODA</h1> -->
    <div class="container">
      <div data-aos="zoom-in" data-aos-duration="1000">

        <h2>About</h2>
      </div>
      <p class="lg-text pb-5">
        This is a project for grading management. <br>
        <br>
        The technologies used for developing this project is : <br>
        <br>
        Templating engine : <strong>Jinja2</strong><br>
        Frontend : <strong>HTML, CSS, jQuery, Bootstrap, AJAX</strong><br>
        Backend : <strong>Flask (Python)</strong><br>
        Database : <strong>MySQL</strong> <br>
        <br>
        Developed by Mir Labib Hossain.

      </p>
    </div>

  </div>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- navbar -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'JS/nav_scripts.js') }}"></script>
  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>
</html>