<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/static/images/uoda.ico " />
  <!-- fontawsome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static',filename='CSS/styles.css') }}" />
  <title>UODA - Grading</title>
</head>
<body>
  <ul class="nav justify-content-center fixed-top" style="background: transparent; z-index: 10">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" aria-current="page" href="/about">About</a>
    </li>
    {% if session['logged_in'] %}
    <li class="nav-item nav-sign-out">
      <p class="nav-link nav-username">{{ session['admin_name'] }}</p>
      <a class="nav-link" href="/sign_out"><i class="fa fa-power-off"></i>Sign-out</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/sign_in">Sign-in</a>
    </li>
    {% endif %}
  </ul>
  <div class="home">
    <div class="edit-container">
      {% set editColumn = [] %} {% for row in range((students|length)) %} {% if row not in [0,5,6 ]%}
      <p class="d-none"> {{ editColumn.append( columnName[row] ) }}</p>

      <div class="mb-3 edit-inp">
        <label for="exampleInputEmail1" class="form-label">{{columnName[row].replace("_"," ")}}</label>
        {% if row == 3 %}
        <select class="edit-inp form-select m-0" id="gender">
          <option selected value="{{students[row]}}">{{students[row]}}</option>
          {% if students[row] == "Male"%} 
          <option value="Female">Female</option>
          {%else%}
          <option value="Male">Male</option>
          {%endif%}
          
        </select>
        {%else%}
        <input class="form-control" aria-describedby="emailHelp" value="{{students[row]}}" {%if
          columnName[row]=='std_id' or columnName[row]=='batch' %} disabled{%endif%} />
        {% endif %}
      </div>
      {% endif %} {% endfor %}
      <div class="btn-grp">
        <button class="enter btn btn-outline-primary">Update</button>
        <a href="/student"><button class="enter btn btn-outline-danger">Close</button></a>
      </div>
    </div>
  </div>

  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- navbar -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'JS/nav_scripts.js') }}"></script>
  <!-- bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script>
    $(".enter").click(function (e) {
      // initializing empty array to store all inputed values
      var input = [];
      // storing inputed values
      $("input").each(function (index) {
        input[index] = $(this).val().trim();
      });
      
      gender = $('#gender').find(":selected").text();
      input.splice(2, 0, gender)
      // getting column names which is being used
      column = `{{ ', '.join(editColumn) }}`.replace(/&amp;/g, "&").split(", ");
      console.log(column);
      console.log(input);
      // 1st part of query
      q = "UPDATE student s, b_" + input[3] + " b SET ";

      // 2nd part of query
      let char = "s.";
      for (let i = 1; i < column.length; i++) {
        q += char + "`" + column[i] + "` = '" + input[i] + "'";
        if (i == 3) char = "b.";
        if (i < column.length - 1) q += ", ";
      }
      // last part of query
      q += " WHERE s.std_id = '" + input[0] + "' AND b.std_id = '" + input[0] + "'";

      $.post("/update", { q: q }).done(function (reply) {
        window.location = "/batch/"+input[3];
      });
      console.log(q);
    });
  </script>
</body>
</html>